
  <div class="element-box" id="shapeshift-coin-selection">
    <div class="row">

      <div class="col-sm-12">
        <form class="form">
          <input type="text" [(ngModel)]="coinName.class" [(ngModel)]="coinAbbr.type" [ngModelOptions]="{standalone: true}" placeholder="Search Coin">
        </form>
      </div>
    </div>
    <div class="coin-selection row">
      <div class="col-sm-6" *ngFor="let coin of coins | filterBy: coinName;let i = index">
        <a class="element-box el-tablo centered" href="#" (click)="selectCoin($event, coin)">
          <div class="value">
            <img src="../../../../assets/img/sp/{{coin.type}}.png" class="crypto-image" alt="">
          </div>
          <div class="label coin-{{coin.type}}-identifier">
            {{coin.class | uppercase}}
          </div>
        </a>
      </div>
      <ng-container *ngFor="let coin of coins | filterBy: coinAbbr;let i = index">
        <div class="col-sm-6" *ngIf="alreadyExists(coin.type)">
          <a class="element-box el-tablo centered" href="#" (click)="selectCoin($event, coin)">
            <div class="value">
                <img src="../../../../assets/img/sp/{{coin.type}}.png" class="crypto-image" alt="">
            </div>
            <div class="label">
              {{coin.class | uppercase}}
            </div>
          </a>
        </div>
      </ng-container>
      <div class="col-sm-6 offset-sm-3" *ngIf="(coins | filterBy: coinName) == [] && (coins | filterBy: coinAbbr) == []">
        <a class="element-box el-tablo centered" href="#">
          <div class="value">
            X
          </div>
          <div class="label">
            COIN {{coinName.class}} NOT FOUND
          </div>
        </a>
      </div>
    </div>
  </div>