<div id="send" class="row m-0 justify-content-center">
  <i class="close" (click)="close()">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14">
      <path class="stroked" fill="none" stroke-linecap="square" d="M 4.5 4.5 L 11.5 11.5 M 4.5 11.5 L 11.5 4.5" />
    </svg>
  </i>
    <div class="col-lg-12 mt-5 header text-center">
      SEND {{coinName}}
    </div>
    <div class="col-lg-12 mt-4 text-center">
      <img class="coin-img" src="../../../assets/img/sp/{{coinName}}.png" alt="">
    </div>
    <div class="col-lg-8 mt-4 text-center" *ngIf="!txHash">
      <input class="effect-1" spellcheck='false' type="text" placeholder="Recipient Address" [(ngModel)]="recipientAddress" (input)="filterAddress($event)">
      <span class="focus-border"></span>
    </div>
    <div class="col-lg-8 mt-2 text-center" *ngIf="!txHash">
      <input class="effect-1" [(ngModel)]="coinAmount" [ngModelOptions]="{standalone: true}" placeholder="{{coinAmount}}"
        type="number" min="0" step="any" oninput="(validity.valid||(value=''));"/>
      <span class="focus-border"></span>
    </div>
    <div class="col-lg-8 mt-4" *ngIf="this.coinName != 'BTC' && !txHash">
      <div class="gas">Gas Price:
        <span class="gasbold">{{gasPrice}}</span>
      </div>
      <div class="gas">Gas Amount:
        <span class="gasbold">{{gasAmount}}</span>
      </div>
    </div>
    <div class="col-lg-8 mt-2 text-center broadcast" *ngIf="txHash">
      Successfully Broadcasted Transaction
    </div>
    <div class="col-lg-8 mt-2 text-center" *ngIf="txHash">
        <img src="../../../assets/img/mine.png" class="mine-image"/>
        <a href="https://etherscan.io/tx/{{txHashString}}" target="blank" *ngIf="this.coinName != 'BTC'">Transaction Hash</a>
        <a href="https://blockchain.info/address/{{txHashString}}" target="blank" *ngIf="this.coinName == 'BTC'">Transaction Hash</a>
    </div>

  <div class="col-lg-12 p-4 send-button text-center"  [ngClass]="{ 'unavailable' : coinAmount == 0 || coinAmount > userBalance || recipientAddress == '' }"
    *ngIf="!txHash" (click)="startTransaction()">
    <span>{{coinAmount == 0?'No Amount Specified':(coinAmount > userBalance?'Insufficient Funds for Transaction':(recipientAddress == ''?'No Recipient Specified':'Start Transaction'))}}</span>
  </div>
</div>
