#send{
	color: white;
	.close{
		position: absolute;
		top: 5px;
		right: 5px;
		width: 50px;
		color: #75777b;
		font-size: 30px;
		font-weight: 100;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		z-index: 10;
	}
	.stroked {
		stroke: white;
	}
	.close:hover{
		color: #94969b;
	}
	.send-button{
		position: absolute;
		bottom: 0;
		background: #515e70;
		cursor: pointer;
		font-size: 20px;
		transition: all 0.3s ease-in-out;
	}
	.send-button:hover{
		background: #6b7b91;
	}
	.header{
		font-size: 40px;
		font-weight: 800;
		color: #bdb5b5;
	}
	.coin-img{
		opacity: 0.2;
    	filter: sepia(1) saturate(0);
	}
	.gas{
		padding: 5px 10px;
		background: #f7fbff0f;
		color: #ffffff;
		margin-bottom: 5px;
		text-align: center;
	}
	.gasbold{
		font-weight: 800;
	}

	input{
		font: 15px/24px Courier, sans-serif; 
		color: rgb(252, 250, 250); 
		background: transparent;
		width: 100%; 
		box-sizing: border-box; 
		letter-spacing: 1px;
	}
	input::placeholder {
		color: rgb(167, 164, 164);
	}
	.effect-1{border: 0; padding: 7px 0; border-bottom: 1px solid rgb(177, 177, 177);}
	
	.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 15px; width: 0; height: 2px; background-color: rgb(255, 255, 255); transition: 0.4s;}
	.effect-1:focus ~ .focus-border{width: 90%; transition: 0.4s;}
	a{
		padding: 5px 10px;
		background: rgba(255, 255, 255, 0.1);
		color: white;
	}
	.unavailable{
		pointer-events: none;
		background: #f7fbff0f;
	}
}

@media (max-width: 768px) {3
    .form-group {
		font-size: 15px;
	}
	.button--winona{
		font-size: 15px;
	}
}