#receive{
	color:  #3e477b;
	.close{
		position: absolute;
		top: 5px;
		right: 5px;
		width: 50px;
		color: #134275;
		font-size: 30px;
		font-weight: 100;
		cursor: pointer;
		transition: all 0.3s ease-in-out;
		z-index: 10;
	}
	.stroked {
		stroke: #3e477b;
	}
	.close:hover{
		color: #94969b;
	}
	.send-button{
		color: white;
		position: absolute;
		bottom: 0;
		background: #3e477b;
		cursor: pointer;
		font-size: 20px;
		transition: all 0.3s ease-in-out;
	}
	.send-button:hover{
		background: #6b7b91;
	}
	.header{
		font-size: 40px;
		font-weight: 800;
		color: #3e477b;
	}
	.coin-img{
		opacity: 0.5;
    	filter: grayscale(100%);
	}
	.gas{
		padding: 5px 10px;
		background: #f7fbff0f;
		color:  #3e477b;
		margin-bottom: 5px;
		text-align: center;
	}
	.gasbold{
		font-weight: 800;
	}

	input{
		font: 15px/24px Courier, sans-serif; 
		color:  #3e477b;
		background: transparent;
		width: 100%; 
		box-sizing: border-box; 
		letter-spacing: 1px;
	}
	input::placeholder {
		color:  #3e477b;
	}
	.effect-1{border: 0; padding: 7px 0; border-bottom: 1px solid rgb(177, 177, 177);}
	
	.effect-1 ~ .focus-border{position: absolute; bottom: 0; left: 15px; width: 0; height: 2px; background-color: #3e477b; transition: 0.4s;}
	.effect-1:focus ~ .focus-border{width: 90%; transition: 0.4s;}
	a{
		padding: 5px 10px;
		background: rgba(255, 255, 255, 0.1);
		color:  #3e477b;
	}
	.info{
		font-size: 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}