<div id="receive" class="row m-0 justify-content-center">
  <i class="close" (click)="close()">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 14">
      <path class="stroked" fill="none" stroke-linecap="square" d="M 4.5 4.5 L 11.5 11.5 M 4.5 11.5 L 11.5 4.5" />
    </svg>
  </i>
  <div class="col-lg-12 mt-5 header text-center">
    SEND {{coinName}}
  </div>
  <div class="col-lg-12 mt-4 text-center">
    <img class="coin-img" src="../../../assets/img/sp/{{coinName}}.png" alt="">
  </div>
  <div class="col-lg-8 mt-4 text-center">
      <input class="effect-1" type="text" placeholder="Enter An Amount" [(ngModel)]="amount" (input)="filterAddress($event)">
      <span class="focus-border"></span>
  </div>
  <div class="col-lg-8 mt-4 text-center">
      <app-qrcode [address]="addressFrom" [amount]="amountFrom" [coin]="coinName"></app-qrcode>
  </div>
  <div class="col-lg-12 p-4 send-button text-center" (click)="generateQrCode(addressFrom,amount)">
    <span>Generate QR Code</span>
  </div>
</div>