<ngx-loading-bar></ngx-loading-bar>
<div class='overlay' [ngClass]="{ 'active': shapeShiftModalStatus }" (click)="closeModal($event)">
  <div id="shapeshift-modal" [ngClass]="{ 'active': shapeShiftModalStatus }">
    <app-shapeshift></app-shapeshift>
  </div>
  <div class="coin-modal" [ngClass]="{ 'active': shapeShiftModalStatus }">
    <app-coinselection></app-coinselection>
  </div>
</div>
<div class="all-wrapper menu-side with-side-panel">
  <div class="layout-w">
    <div class="content-w">
      <div class="content-i">
        <div class="content-box">
          <div class="col-sm-12">
            <div class="element-wrapper">
              <div class="element-content">
                <div class="row head-row">
                  <div class="col-sm-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="-760.9 -397.9 112.2 102.6" style="enable-background:new -760.9 -397.9 112.2 102.6;" xml:space="preserve">
                   <style type="text/css">
                     .st0{fill:none;stroke:url(#SVGID_1_);stroke-width:3;stroke-miterlimit:10;}
                     .st1{fill:url(#SVGID_2_);}
                     .st2{fill:url(#SVGID_3_);}
                   </style>
                   <path d="M-1271.6,35.7"/>
                   <g>
                     
                       <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="-746.9576" y1="848.5929" x2="-660.6196" y2="848.5929" gradientTransform="matrix(1 0 0 -1 0 502)">
                       <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                       <stop  offset="0.3005" style="stop-color:#047BF8"/>
                     </linearGradient>
                     <circle class="st0" cx="-703.8" cy="-346.6" r="41.7"/>
                     
                       <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="-721.2587" y1="859.6121" x2="-686.3494" y2="859.6121" gradientTransform="matrix(1 0 0 -1 0 502)">
                       <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                       <stop  offset="0.5123" style="stop-color:#047BF8"/>
                     </linearGradient>
                     <path class="st1" d="M-703.9-377.6c0.1,0,0.2,0,0.3,0c0,0.2,0.1,0.4,0.2,0.6c5.7,13,11.4,26.1,17,39.1c-0.1,0-0.2,0.1-0.2,0.1
                       c-2.4-1.7-5-3.2-7.8-4.2c-1.6-0.6-3.3-1-5-1.3c-1.4-3.3-2.9-6.6-4.3-9.9c0-0.3-0.3,0-0.3,0.1c-1.5,3.3-2.9,6.5-4.4,9.8
                       c-1.1,0.3-2.3,0.5-3.4,0.8c-2.7,0.8-5.3,2-7.6,3.7c-0.6,0.4-1.1,0.8-1.7,1.2l-0.2,0c0.1-0.4,0.3-0.8,0.5-1.3
                       c5.4-12.3,10.8-24.7,16.2-37C-704.3-376.5-704-377-703.9-377.6z"/>
                     
                       <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="-727.1695" y1="831.7104" x2="-680.4072" y2="831.7104" gradientTransform="matrix(1 0 0 -1 0 502)">
                       <stop  offset="0" style="stop-color:#FFFFFF;stop-opacity:0"/>
                       <stop  offset="0.5123" style="stop-color:#047BF8"/>
                     </linearGradient>
                     <path class="st2" d="M-709-337.5c3.3-0.4,6.7-0.5,10.1-0.2c2.9,0.3,5.9,0.8,8.6,2c1.9,0.8,3.6,2.1,5,3.6c2.1,2.3,3.3,5.3,4.3,8.3
                       c0.2,0.7,0.6,1.4,0.6,2.2h-9.5c-0.6-0.8-1-1.7-1.6-2.5c-1.5-2.3-3.7-4.3-6.3-5.2c-3.5-1.1-7.3-1.3-10.8-0.4
                       c-2.7,0.7-4.9,2.6-6.5,4.8c-0.8,1-1.4,2.2-2.2,3.3h-9.8c1-3.3,2-6.7,4.2-9.4c1.5-1.9,3.5-3.4,5.8-4.4
                       C-714.6-336.5-711.8-337.1-709-337.5z"/>
                   </g>
                   </svg>
                  </div>
                  <div class="col-sm-11">
                    <app-settings></app-settings>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <router-outlet></router-outlet>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
<a id="download" style="display:none;"></a>
