<!-- Send service -->

<div id="sendCoins" class="element-wrapper">
  <div class="element-box">
    <div class="row">
      <h3 class="col-sm-12 text-center margin-tb-1 bold">Transaction Broadcasted</h3>
    </div>
    <div class="row">
      <div class="col-sm-6 text-center offset-sm-3"><img class="image" src="../../../../assets/img/mine.png"/></div>
    </div>
    <div class="row">
      <h3 class="col-sm-12 text-center margin-tb-1"><a class="hash" href="https://etherscan.io/tx/{{hash}}" target="_blank">{{hash}}</a></h3>
    </div>
    <div class="row">
      <h3 class="col-sm-12 desc text-center margin-tb-1">Clicking the above link will transfer you to Etherscan to inspect the transaction</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-offset-6">
      <button [routerLink]="['/dashboard/wallet']" class="button--winona col-sm-12" data-text="Return to Dashboard">
        <span>Return to Dashboard</span>
      </button>
    </div>
  </div>
</div>
<!-- End Send service -->
