.shapeshift-main {
    .left-side {
        background: #55779f;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        height: 487px;
    }
    .right-side {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background: white;
    }
    .heading-c {
        background: rgba(0,0,0,.25);
        border-top-left-radius: 10px;
    }
    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
     }
    .heading-ch {
        background: rgba(0,0,0,.07);
    }    
    .title {
        font-size: 18px;
        color: #bfc0c0;
    }
    .desc {
        color: white;
        font-size: 18px;
    }
    .image-shift{
        width: 10vw;
        filter: hue-rotate(26deg);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .form{
        margin: 30px;
    }
    .fa-exchange{
        font-size: 40px;
        color: #55779f;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        cursor: pointer;
    }
    .shapeshift-filter {
        width: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
    }
    
    
    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgb(29, 11, 11)!important;
    }
    .input-c{
        margin: 25px 0;
    }
    .transaction-button {
        background: rgba(61, 83, 113, 0.8);
        color: white;
        text-align: center;
        font-size: 18px;
        padding: 10px 0;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        }
    .transaction-button:hover {
        background: rgba(41, 56, 77, 0.8);
    }
    .close-modal {
        position: absolute;
        top: 2.5%;
        right: 1%;
        font-size: 20px!important;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        z-index: 2;
    }
    .close-modal:hover {
        color: #d7d3d3!important;
        z-index: 5;
    }
    .img-icon {
        width: 100%;
    }
    .coins-selection {
        margin-top: 1.5vmax;
        position: relative;
    }
    .c-labels {
        text-align: center;
        color: #486587;
        font-size: 18px;
    }
    input{
        border: 1px solid rgba(85, 119, 159, 0.5);
        background: #f8fafd;
        color: #486587;
        height: 40px;
    }
    input::placeholder{
        color: #98a9bd!important;
    }
    input:focus {
        border-color: rgba(85, 119, 159, 0.8);
    }
    .poweredby > a {
        text-decoration: underline;
        color: #d3d7db;
    }
    
    .poweredby {
        position: absolute;
        color: #ffffff;
        z-index: 5;
        bottom: -3%;
        right: 0;
        font-size: 16px;
    }
    .hover-fade {
        opacity: 1;
        transition: 0.25s opacity ease-in-out;
    }
    .hover-fade:hover {
        opacity: 0.75;
        cursor: pointer;
    }
    .unavailable {
        opacity: 0.8;
        pointer-events: none;
    }
    .transaction-status {
        color: black;
        text-align: center;
        height: 100%;
        div:first-child {
            font-size: 2vmax;
        }
        div:nth-child(2) {
            height: 45%;
        }
        div:last-child {
            font-size: 1vmax;
        }
    }
    @media (max-width: 768px) {
        .left-side {
            height: 365px;
        }
        .image-shift {
            top: 95%;
            left: 26%;
        }
        .right-side, .left-side{
            border-radius: 0;
        }
        .coins-selection{
            margin: 0;
        }
        .fa-exchange{
            font-size: 12px;
        }
        .close-modal {
            position: absolute;
            top: 2.5%;
            right: 2.5%;
            color: white;
        }
    }
   
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
// coin animations

.first-coin{
    opacity: 1;
    transform: translateX(0);
    animation-name: first-coin-animation;
    animation-duration:2s;
    animation-delay: -2s;
    animation-iteration-count: infinite;

}

.second-coin{
    opacity: 0;
    transform: translateX(-100%);
    animation-name: second-coin-animation;
    animation-duration:2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes first-coin-animation {
    0%,{
        opacity: 1;
    }
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateX(100%);
    }
}
@keyframes second-coin-animation {
    from {
        opacity: 1;
        transform: translateX(-100%);
    }
    to {
        opacity: 0;
        transform: translateX(0);
    }
}


