<div class="shapeshift-main">
    <div class="poweredby">Powered By <a href="#">shapeshift.io</a></div>
  <i class="fa fa-close close-modal" (click)="closeModal()"></i>
  <div class="row">
    <!-- left side -->
    <div class="col-sm-4 left-side">
      <div class="row">
        <div class="col-sm-12 text-center heading-c">
          <div class="title">Instant Rate</div>
          <div class="desc">1 NMR = 123.12332 DNT</div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="heading-ch row">
              <div class="col-sm-6 text-right title nopadding">Deposit Min:&nbsp;</div>
              <div class="col-sm-6 text-left desc nopadding">1.0732365 NMR</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="heading-ch row">
              <div class="col-sm-6 text-right title nopadding">Deposit Max:&nbsp;</div>
              <div class="col-sm-6 text-left desc nopadding">1.0732365 NMR</div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="row">
            <div class="heading-ch row">
              <div class="col-sm-6 text-right title nopadding">Miner Fee:&nbsp;</div>
              <div class="col-sm-6 text-left desc nopadding">1.0732365 NMR</div>
            </div>
          </div>
        </div>
        <img class="image-shift" src="../../../assets/img/shapeshiftc.png" alt="">
      </div>
    </div>
    <div class="col-sm-8 right-side">
      <div class="row justify-content-center coins-selection">
        <div class="col-sm-4">
          <div class="c-labels">Deposit</div>
          <img class="img-icon" src="../../../assets/img/sp/bitcoin.png" alt="">
          <div class="c-labels">Bitcoin</div>
        </div>
        <i class="fa fa-exchange"></i>
        <div class="col-sm-4">
          <div class="c-labels">Receive</div>
          <img class="img-icon" src="../../../assets/img/sp/bitcoin.png" alt="">
          <div class="c-labels">Bitcoin</div>
        </div>
      </div>
      <div class="row justify-content-center coins-selection">
        <form class="col-sm-8">
          <div class="form-group">
            <input type="email" class="form-control" id="coinaddress" aria-describedby="emailHelp" placeholder="Your Coin Address">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" id="refundaddress" aria-describedby="emailHelp" placeholder="Your Coin Refund Address">
          </div>
          <div class="form-group transaction-button">Transaction</div>
        </form>
      </div>
    </div>
  </div>
</div>