<ngx-loading-bar></ngx-loading-bar>
<div class="overlaytwo" (click)="toggleCustomCoinModal($event)">
  <div id="custom-coin-modal" class="container-fluid">
    <div class="row align-items-center modal-contents">
      <div class="col-lg-12">
        <div class="row justify-content-center">
          <div class="modal-title">
            ERC-20 Token
          </div>
        </div>
        <div class="row justify-content-center">
            <div class="value col-lg-12 text-center">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="-693.2 331.5 500 500" style="enable-background:new -693.2 331.5 500 500;" xml:space="preserve">
                  <style type="text/css">
                  
                    .st1 {
                      font-family: 'SourceSansPro-Regular';
                    }
    
                    .st2 {
                      font-size: 124.5044px;
                    }
                  </style>
                  <circle cx="-442.5" cy="582.3" r="246.7" />
                  <text transform="matrix(1 0 0 1 -550.25 554.8506)">
                    <tspan x="0" y="0" class="svgtext st1 st2">ERC </tspan>
                    <tspan x="41.9" y="149.4" class="svgtext st1 st2">20</tspan>
                  </text>
                </svg>
    
              </div>
        </div>
        <div class="row justify-content-center active">
          <form class="col-lg-8 classic-token">
            <div class="form-group">
              <input type="text" class="form-control col-10 col-lg-12 token-address" placeholder="Token Contract Address" (input)="filterAddress($event)">
            </div>
            <div class="form-group">
              <input type="text" class="form-control col-10 col-lg-12 token-symbol" placeholder="Token Symbol">
            </div>
            <div class="form-group">
              <input type="number" class="form-control col-10 col-lg-12 token-decimals" placeholder="Token Decimals">
            </div>
            <div class="row justify-content-center">
            <button class="button--winona col-10 col-lg-12" data-text="Add Token" (click)="addCustomToken($event)">
              <span>Add Token</span>
            </button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="addnew" class="container-fluid">
  <div class="row align-items-center ">
    <div class="col-12 p-0">
      <div class="row adjust-coins mobileMenu text-center" *ngIf="isMobile()">
        <div class="col-12" *ngIf="searchActive">
          <div class="">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search Coin" [(ngModel)]="coinName.class" [(ngModel)]="coinAbbr.type"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
        </div>
        <div class="col-4 p-0" (click)="mobileSearch()">
          <div class="setupMenu-mobile">
            <i class="fa fa-search"></i>
          </div>
        </div>
        <div class="col-4 p-0">
          <div class="setupMenu-mobile" data-text="Open Modal" (click)="toggleCustomCoinModal($event)">
            <div>ERC-20</div>
          </div>
        </div>
        <div class="col-4 p-0" (click)="saveSettings()">
          <div class="setupMenu-mobile">
            <i class="fa fa-arrow-right"></i>
          </div>
        </div>
      </div>
      <div class="row adjust-coins" *ngIf="!isMobile()">
        <div class="col-lg-4 col-12">
          <form class="form">
            <input type="text" [(ngModel)]="coinName.class" [(ngModel)]="coinAbbr.type" [ngModelOptions]="{standalone: true}" placeholder="Search Coin">
          </form>
        </div>
      </div>
      <div class="row justify-content-center coin-selection m-0">
        <div class="col-lg-2 col-6" *ngFor="let coin of coins | filterBy: coinName;let i = index">
          <a class="element-box el-tablo centered" href="#" (click)="selectCoin($event, coin, i)" [ngClass]="{
                  'active':coin.selected
                }">
            <div class="value">
              <img src="../../../../assets/img/sp/{{coin.type.trim()}}.png" class="crypto-image" alt="">
            </div>
            <div class="label coin-{{coin.type.trim()}}-identifier">
              {{coin.class | uppercase}}
            </div>
          </a>
        </div>
        <ng-container *ngFor="let coin of coins | filterBy: coinAbbr;let i = index">
          <div class="col-lg-2 col-5" *ngIf="alreadyExists(coin.type)">
            <a class="element-box el-tablo centered" href="#" (click)="selectCoin($event, coin, i)" [ngClass]="{
                    'active':coin.selected
                  }">
              <div class="value">
                <img src="../../../../assets/img/sp/{{coin.type.trim()}}.png" class="crypto-image" alt="">
              </div>
              <div class="label">
                {{coin.class | uppercase}}
              </div>
            </a>
          </div>
        </ng-container>
        <div class="col-lg-2 col-5" *ngIf="(coins | filterBy: coinName).length === 0 && (coins | filterBy: coinAbbr).length === 0">
          <a class="element-box el-tablo centered" href="#">
            <div class="value">
              X
            </div>
            <div class="label">
              COIN {{coinName.class}} NOT FOUND
            </div>
          </a>
        </div>
      </div>
      <div class="row setup-buttons" *ngIf="!isMobile()">
        <div class="col-lg-4">
          <button class="button--winona" data-text="Save Settings"
            (click)="saveSettings()">
            <span>Save Settings</span>
          </button>
        </div>
        <div class="col-lg-4">
          <button class="button--winona" data-text="Open Modal" (click)="toggleCustomCoinModal($event)">
            <span>Add Custom ERC-20 Token</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>