<div class="row justify-content-end align-items-center text-right" id="settings">
    <div (click)="toJSON();" *ngIf="shouldHaveJSON" class="col-12 col-lg-2"><span><i class="fa fa-key"></i>Export Private Key</span></div>
    <div (click)="toJSON();" *ngIf="shouldHaveJSON" class="col-12 col-lg-2"><span><i class="fa fa-file-text"></i>Download JSON Backup</span></div>
    <div (click)="toggleNightmode();" class="col-12 col-lg-2"><span><i class="fa fa-moon-o"></i>Toggle Nightmode</span></div>
    <div (click)="redirectToFAQ();" class="col-12 col-lg-1"><span><i class="fa fa-question-circle"></i>FAQ</span></div>
    <div (click)="logout();" class="col-12 col-lg-1"><span><i class="fa fa-sign-out"></i>Logout</span></div>
</div>
