#settings {
    height: 100%;
    white-space: nowrap;
    color: #047bf8;
    font-size: 18px;

    div {
      cursor: pointer;
      font-weight: 800;
      backface-visibility: none;
      transform: scale(1);
      transition: color 0.25s ease-in-out;
      i {
        margin: 0 0.5vmax;
      }
    }

    div:hover {
      color: #4ca2fc;
    }
}
@media (max-width: 768px) {
    #settings {
      font-size: 14px;
    }
    div{
      text-align:center;
    }
    span{
      display: block;
      color: #047bf8;
      background: white;
      padding: 5px 0px;
      margin-bottom: 5px;
      border-radius: 7px;
      box-shadow: 0px 1px 5px #f3eeee;
    }
}