#settings {
  .settings {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 0;
    white-space: nowrap;
    color: #047bf8;
    font-size: 1vmax;

    div {
      display: inline-block;
      padding: 0.5vmax;
      cursor: pointer;
      font-weight: 800;
      backface-visibility: none;
      transform: scale(1);
      transition: color 0.25s ease-in-out;
      i {
        margin: 0 0.5vmax;
      }
    }

    div:hover {
      color: #4ca2fc;
    }
  }
}
